version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: worktracker_api
    ports:
      - "9000:80"
    volumes:
      - ./api:/var/www/html
    env_file:
      - .env
    depends_on:
      - db

  front:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: worktracker_front
    ports:
      - "9004:80"
    volumes:
      - ./front:/var/www/html
    depends_on:
      - api

  db:
    image: mysql:8.0
    container_name: worktracker_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: worktracker
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: worktracker_phpmyadmin
    ports:
      - "9001:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db

volumes:
  db_data:
